html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

.foto {
  width: 360px;
  height: 210px;
  display: block;
  background-color: #283e50;
  border-radius: 6px 6px 0 0;
}

body {
  width: 360px;
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  padding: 0;
  margin: 100px auto;
  border-radius: 6px 6px 0 0;
}

main {
  background-color: #283e50;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  padding: 20px 20px;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 42px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #ffffff;
  display: flex;
  padding: 20px 15px;
  margin: 0;
}

nav {
  list-style: none;
  margin: 0;
  padding: 0;
  align-self: stretch;
}

.Pravidla {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  display: block;
  flex-grow: 1;
  background-color: #1fcca4;
  margin: 0;
  padding: 15px;
}

.Pravidla:hover {
  background-color: #1cbb96;
}

.Hrát {
  flex-grow: 1;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  display: block;
  background-color: #0197f6;
  margin: 0;
  padding: 15px;
}

.Hrát:hover {
  background-color: #0090e9;
}

/*styly pro pravidla.html a různé šířky obrazovek*/

.obsah {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  width: 80vw;
  background-color: #283e50;
}
h1 {
  text-align: center;
}

.description {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 6px 6px 0 0;
  background-color: #283e50;
  width: 360px;
}

.li {
  margin-top: 15px;
  background-color: #283e50;
}

/*nastavení křížek, kolečko*/
.cross,
.circle {
  width: 0.7em;
  filter: invert(100%);
}
.pictures img {
  max-width: 90%;
}

.pictures__item {
  max-width: 45%;
}

figure {
  padding: 0 0 1rem 0;
  margin: 4px;
  font-size: 60%;
}

figcaption {
  flex-grow: 1;
  text-align: center;
  padding: 0 20px;
}

/*nastavení pro zobrazení*/
@media (min-width: 540px) {
  .pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

figure {
  width: calc((100%-35px) / 2);
}

@media (min-width: 960px) {
  .body__obsah {
    max-width: 1200px;
    line-height: 2;
  }
}
